body {
    background-image: url("../images/pizza4.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    text-align: center;  
    /* background-attachment: fixed; */
    color: white;    
  }

.container{
    padding-top: 50px;
}

.jumbotron{
      
    color: #000;
    background-image: url(../images/pizza4.jpg);
    background-size: cover;
    background-position: top;
    border-radius: 10px;
    color:white;
    font-size: 20px;
}

.card{
    width: 25%;
}

.text1{
    color: black;
}

